.task-wrapper {
  @apply flex justify-between items-center py-1;

  & .task-delbttn {
    @apply pointer-events-auto rounded-md bg-red-300 py-1 px-3 text-[0.8125rem] font-semibold leading-5 text-white hover:bg-red-500;
  }
}
