.lang-switcher {
  @apply w-1/12 flex justify-end  rounded-full z-10 min-w-fit;

  & button {
    @apply bg-primary-300 rounded-full py-0 w-20 text-primary-500 shadow-4xl hover:scale-95 transition-all duration-200;
  }
}
