#app {
  @apply flex flex-col min-h-screen bg-pattern justify-between;
}

.container {
  @apply relative px-20 2xl:px-6 ;
}

.content {
  @apply flex flex-col items-center flex-initial overflow-auto;
  flex: 1 0 auto;
}
