#app {
  @apply flex flex-col justify-between min-h-screen bg-pattern;
}

.container {
  @apply relative px-20 2xl:px-6 ;
}

.content {
  @apply flex flex-col items-center flex-auto overflow-hidden;
}
